/* GLOBAL RESET - RESETS THE DEFAULTS   */
*{ box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body { color: rgba(0, 10, 0, 0.95); }
a { color: rgb(79, 11, 121); }
a:hover { color: rgb(148, 33, 210); }

/* GLOBAL TYPOGRAPHY */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;
}

/* SITE LAYOUT*/
body {
   display: grid;
   grid-template-rows: auto 1fr auto;
   min-height: 100vh;
}

 /* SITE STRUCTURE */
 header {
    background-color: rgb(35, 0, 57);
    color: rgba(0, 0, 0, 0.8); /*LAST NUMBER IS TRANSPARENCY*/
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr; /*THIS SPLITS COL INTO EVEN FRACTIONS*/
    align-items: center;
    border: 10px solid red;
 }

 header a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none; /*REMOVES THE UNDERLINE */
 }

 header a:hover {
    color: rgba(255, 255, 255, 1);
 }

 /* SITE ID */
 .site-id h1 {
    margin: 0; /*THIS REMOVES THE TOP MARGIN OF LOGO*/
 }

 /* SITE NAV */
 .site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
 }

 .site-nav a {
    display: block;
    padding: 1em;
 }

 /* MAIN */
 main {
    background: rgba(172, 127, 244, 0.1);
    border: 15px solid yellow;
 }

/* HERO SECTION */
.hero {
    background-color: rgb(35, 0, 57);
    text-align: center;
    color: rgb(172, 227, 244);
    padding: 6em 1em;
}

.hero h2 {
    font-size: 6em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    max-width: 30em;
    margin: 1em auto;
}

/* COURSES SECTION */
.courses {
    padding: 6em 1em; /*THIS PADS TOP AND BOTTOM AT 6EM, AND LEFT AND RIGHT AT 1EM. OR YOU CAN USE 4 NUMBERS TO DEFINE TOP, THEN RIGHT, THEN BOTTOM, THEN LEFT*/
    display: grid;
    justify-content: center;
    display: block;
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses h3 {
    text-align: center;
}

/* CARDS */
.courses .cards {
   display: flex;
   justify-content: center;
   text-align: center;
   gap: 3em;
   flex-wrap: wrap;
   padding: 3em 0;
   font-size: 0.875em;
   line-height: 1.1;
 }
 
 .courses .cards a {
   display: block;
   width: 100%;
   height: 100%;
   background-size: cover;
   border-radius: 5px;
   padding: 2.5em 2em;
   text-decoration: none;
   box-shadow: 0 0 20px 0 rgba(172, 227, 244,1);
 }
 
 .courses .cards span {
   display: block;
   font-size: 2em;
   line-height: 1.6;
 }
 
 .courses .cards li {
   max-width: 100%;
   font-family:Helvetica, Arial, sans-serif
 }


 /* FOOTER */
 footer {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 1em;
    background-color: black;
 }

  /* SOCIAL NAV */
  .social-nav ul {
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   list-style: none;
}

.social-nav a {
   display: block;
   padding: 1em;
   color: rgba(172, 227, 244,1); 
}

.social-nav a:hover {
   color: rgb(196, 141, 238); 
}

 /* LAYOUT */
.container {
   max-width: 1000px;
   margin: 0 auto;
}

section {
   padding: 3em 1em;
}

/* SIDEBAR/ASIDE */
aside {
   padding: 0 1em;
}

@media (min-width: 768px) {
   .two-col-sidebar {
      display: grid;
      grid-template-columns: 20em auto;
   }
   .two-col-sidebar aside {
      border-right: 1px solid rgba(0,0,0,0.1);
      margin: 0 3em 2em 0;
      padding: .3em  2em 0 0;
   }
}

/* CUSTOM STYLING FOR SPECIFIC AND SUB PAGES */
.page-sub .hero {
   background-color: rgba(111, 33, 150, 0.1);
   color: rgb(120, 37, 183);
}

.page-home {
   grid-template-rows: 1fr auto;
}

.page-home .hero {
   background-image: url('../img/rocks.jpg');
   background-size: cover;
   background-position: center 60%;
   padding: 20vh 1em;
}

.page-home header {
   background-color: transparent; 
   position: absolute;
   width: 100%;
}


/* COURSEWORK SECTION */
.coursework {
   padding: 3em 1em;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

/* PROJECTS SECTION */
.projects {
   margin: 2em;
   padding: 2em;
   flex-basis: 20em;
   background-size: cover;
   border-radius: 1em;
   box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
   font-family: Helvetica, Arial, sans-serif
}


/* PRIMARY */
.primary {
   padding: 0 1em;
}

/* CODE BLOCKS */
pre code {
   width: 100%;
   display: block;
   border: 1px solid #ddd;
   background-color: #fff;
   padding: 1em 3em;
   margin-bottom: 1em;
   line-height: 1.5;
   overflow-wrap: break-word;
   white-space: pre-wrap;
}


/* NOTES PAGE SCROLLBAR FIX FOR GISTS */
@media (min-width: 768px) and (max-width: 910px) {
   .gist {
       max-width: 400px;
       border: 10px solid red;
   }
}

.markup-box {
   border: 1px solid #ddd;
   border-radius: 5px;
   background-color: #fff;
   padding: 1em 3em;
   margin-bottom: 1em;
}

/* DEFINITION LISTS */
dt {
   font-weight: bold;
   margin-top: 1em;
}
dd {
   margin: 0;
}

/* FOR WEB DEV PURPOSES ONLY */
/* body, *{ 
    background-color: rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.5)
 } */

