/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #BLOCKQUOTES
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
                #HERO
                #PUROSE
                #ROOTS
                #NGAI
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
        #FORMS
        #CUSTOM SITE CSS
           
--------------------------------- */

/* TYPOGRAPHY - BASE BODY*/
body {
    font-size: 87.5%; /* 14px */
    line-height: 1.7;
    color: #ededed;
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 100;
    font-style: normal;
  
}

/* HEADINGS */
/* 
    Based on a Traditional Typographic Scale 
    48, 36, 24, 21, 18, 16
*/

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0; /*Using ems gives margins relative to the font size*/
}

h1 {
    font-size: 3em; /* 48px */
    line-height: 1;
}

h2 {
    font-size: 2.25em; /* 36px */
    line-height: 1.1;
    font-family: "utopia-std", serif;
    font-weight: 600;
    font-style: normal;
    color: #dbb818;
}
h3 {
    font-size: 1.5em; /* 24px */
    line-height: 1.2;
}
h4 {
    font-size: 1.3125em; /* 21px */
    line-height: 1.3;
}
h5 {
    font-size: 1.125em; /* 18px */
    line-height: 1.4;
}
h6 {
    font-size: 1em; /* 16px */
    line-height: 1.5;
}

/* PARAGRAPHS */
p {
    margin: .5em 0;
    max-width: 100%;
    text-wrap: pretty;
}
/* I changed max-width from 38em to see if 100% wide allows the blockquote to center in teh ngai section */

/* BLOCKQUOTES */

blockquote {
    font-family: "marydale", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    color: rgb(209, 211, 212);
}

/* LINKS */
a {
    color: rgba(0 0 153 / 0.8);
    text-decoration: none;
}

a:hover {
    color: rgba(0 0 153 / 1);
    text-decoration: underline;
}

/* HELPER CLASSES */

.green {
    background-color: #223228;
}

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */
.button,
button, 
form input[type="submit"] {
    font-size: inherit;
    line-height: 1;
    background-color: #bcbec0;
    border: 1px solid #bcbec0;
    color: #223228;
    padding: 1em;
    display: inline-block;
    margin: .5em .5em .5em 0;
    text-align: center;
    border-radius: .5em;
}

.button:hover,
button:hover,
form input[type="submit"]:hover {
    background-color: #223228;
    border-color: #223228;
    color: #dbb818;
    text-decoration: none;
}

.button.alt {
    background-color: transparent;
    color: rgba(0 0 153 / 1);
}

.button.alt:hover {
    background-color: rgba(0 0 153 / 1);
    color: rgba(255 255 255 / 1);
}

/* ADDING A LINE OF CODE HERE SO THE SUBMIT BUTTON HAS A POINTER WHEN HOVERING */
form input[type="submit"]:hover {
    cursor: pointer;
}


/* SIMPLE RESET */
* { 
    box-sizing: border-box; 
}

body { 
    margin: 0; 
    /* background: red; */
    /* box-shadow: inset 0 0 0 5px red; */
}


/* MEDIA QUERIES */
@media (min-width: 768px) {
    /* TABLET SIZED STYLING GOES HERE */
}

@media (min-width: 1050px) {
    /* SMALL LAPTOP SIZED STYLING GOES HERE */
    body {
        font-size: 87.5%; /* 14px */
    }
}

@media (min-width: 1250px) {
    /* MEDIUM SIZED STYLING GOES HERE */
    body {
        font-size: 100% /* 16px */
    }
    .container {
        max-width: 1400px;
    }
}

/* CONTAINER */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}

/* SEMANTIC GRID SYSTEM */

.row > .column {
    margin-bottom: 4%; 
}

@media (min-width: 768px) {

    .row {
        --gridgap: 4%;
        display: flex;
        margin-left: -2%;
        margin-right: -2%;
    }

    .row.swappit {
        flex-direction: row-reverse;
    }

    .row > .column {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }

    .row > .column.one-twelfth {
        max-width: 4.3333%;
    }

    .row > .column.two-twelfths {
        max-width: 12.6667%;
    }

    .row > .column.three-twelfths {
        max-width: 21%;
    }

    .row > .column.four-twelfths {
        max-width: 29.3333%;
    }

    .row > .column.five-twelfths {
        max-width: 37.6667%;
    }

    .row > .column.six-twelfths {
        max-width: 46%;
    }

    .row > .column.seven-twelfths {
        max-width: 54.3333%;
    }

    .row > .column.eight-twelfths {
        max-width: 62.6666%;
    }

    .row > .column.nine-twelfths {
        max-width: 71%;
    }

    .row > .column.ten-twelfths {
        max-width: 79.3333%;
    }

    .row > .column.eleven-twelfths {
        max-width: 87.6667%;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }

    .row > .push-one-twelfth {
        margin-left: calc(8.3333% - (var(--gridgap) / 2) + var(--gridgap));
      }

    /* .row > .push-two-twelfths {
        margin-left: calc(16.6667% - (var(--gridgap) / 2) + var(--gridgap));
    } */
}

/* FOR DEMO PURPOSES ONLY */
.demo .column{
    background: purple;
    padding: .5em;
    text-align: center;
}

/* SITE STRUCTURE */

/* SITE HEADER */

.site-header {
    padding: .5em 1.5em .5em 2.5em; /* this is my header padding */
    position: absolute;
    color: white;
    width: 100%;
    align-items: baseline;
}

.site-header {
    font-weight: 500;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.site-header a {
    color: rgba(255 255 255/1);
}

.site-header a:hover {
    color: rgba(255 255 255/1);
    text-decoration: none;
}

/* LOG0 AREA */
.site-id h1 {
    font-size: 1.5em;
    margin: 0;
    padding-top: .5em;
    text-align: left;
}

/* SITE FOOTER */

.site-footer {
    background: #dbb818;
    padding-top: 7.5em;
    position: relative;
    color: #223228;
    font-size: 85%;
}

.site-footer .container {
        text-align: center;
}

.site-footer a {
    color: rgba(0 0 0/.8);
}


.site-footer .site-nav a {
    text-decoration: none;
    position: relative;
}

.site-footer .site-nav a::after {
    transition: .6s;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(255 255 255 / 1);
    left: 0%;
    bottom: 20%;
    transform: scaleX(0);
}
.site-footer .site-nav a:hover::after {
    transform: scaleX(100%);
}
.site-footer .site-nav a:hover {
    color: rgba(255 255 255 / 1);
}






footer .site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.site-footer::before {
    background-image: url('../img/taro-wide.svg');
    background-size: 100%;
    content: '';
    width: 100%;
    aspect-ratio: 716 / 129;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, -59.5%);
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .site-footer .container {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        text-align: left;
    }
}


/* ON LARGER SCREENS PLACE LOGO LEFT AND NAV RIGHT */
@media (min-width: 768px) {
    .site-header {
        display: flex;
        justify-content: space-between;
    }
}

/* SITE NAV */
.site-nav a {
    text-decoration: none;
    position: relative;
}

.site-nav a::after {
    transition: .6s;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #dbb818;
    left: 0%;
    bottom: 20%;
    transform: scaleX(0);
}
.site-nav a:hover::after {
    transform: scaleX(100%);
}
.site-nav a:hover {
    color: #dbb818;
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.site-nav a {
    display: inline-block; 
    padding: 1em;
}

.site-nav .menu-button {
    display: none;
    border: none; 
    background-color: transparent;
}

/* SECTIONS */
section {
    padding: 3em 0;
}

/* HERO */
.hero {
    padding: 1.5% 4%;
    background-image: 
    linear-gradient(
        10deg,
        rgba(0, 0, 0, 0.25),
        rgb(0, 0, 0, .2)), 
        url('../img/waterbuffalo-dark.jpg');
    background-size: cover;
    background-position: 0% 80%;
    /* background-color: rgba(0 0 0 /.1); */
    text-align: left;
    min-height: 100svh;
}

.hero h1 {
    color: #dbb818;
    font-family: "utopia-std", serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    font-size: clamp(4em, 8vw, 5em);
}

.hero h1 span {
    color: #dbb818;
    font-family: "utopia-std", serif;
    font-weight: 600;
    font-style: italic;
    display: block;
    font-size: .6em;
}

.hero h2 {
    padding-top: .5em;
    font-family: "marydale", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(2em, 4vw, 3em);
    color: white;
}


.hero > .container {
    padding-top: 10em;
    padding-left: 8%
}

/* SECTION STYLING */

/* PURPOSE SECTION STYLING */
#purpose p {
    max-width: 20em;
}

#purpose img {
    transform: rotate(-15deg);
    transform-origin: 50% 60% 0;
    padding-top: 3em;
}

@media (max-width: 768px) {
    #purpose p {
        max-width: 100%;
    }
}

@media (min-width: 767px) {
   #purpose {
    background-image: url('../img/bamboo-clockwiserotate.svg');
    background-size:contain; 
    background-repeat: no-repeat;
    background-position: -19%;
    min-height: 200px;
    }
    #purpose img {
        padding-bottom: 0;
    }
}


/* ROOTS SECTION STYLING */
.site-main {
    overflow-x: hidden;
}

#roots .chop img {
    display: block;
}

.chop {
    position: relative;
}

.chop .chopstick1 {
    position: absolute;
    left: 6%;
    top: 2%;
    transform: rotate(20deg);
    transform-origin: left bottom;
    white-space: nowrap;
}

.chop .chopstick2 {
    position: absolute;
    top: 75%;
    left: 8%;
    transform: rotate(-5deg);
    transform-origin: left top;
    max-width: 20em;
}

/* CHOP DIV BETWEEN 768px AND 1400px */
@media (max-width: 1050px) and (min-width: 768px) {
    .chop {
        text-align: center;
    }
    .chop img {
        padding-top: 10%;
        padding-bottom: 13%;
        position: relative;
    }
    .chop .chopstick1 {
        left: 0%;
        top: 5%;
        transform: rotate(0deg);
        white-space: wrap;
        position: absolute;
    }
    .chop .chopstick2 {
        left: 0%;
        top: 75%;
        transform: rotate(0deg);
        position: absolute;
    }
}


@media (min-width: 1050px) {
    #roots .map {
        margin-top: -15%;
        scale: 1.05;
        transform-origin: left center;
    }
    .chop {
        position: absolute;
        margin-top: -3%;
    }
    .chop .chopstick1 {
        top: 13%;
    }
    .chop img {
        margin-left: -12%;
    }
}

@media (min-width: 1400px) {
    #roots .map {
        scale: 1.15;
    }
    .chop img {
        scale: 1.2;
    }
}


/* NGAI SECTION STYLING */

#ngai img {
    transform: rotate(15deg);
    transform-origin: 50% 60% 0;
    padding-top: 4em;
}

#ngai blockquote {
    text-align: center;
}

@media (min-width: 1400px) {
    #ngai img {
        padding-top: 0;
    }
}

#ngai {
    padding-bottom: 10em;
}


/* TOGGLE NAV */
@media (max-width: 767px) {
    .toggle-nav .site-id {
        position: relative;
        padding: .3em 0 0 0;
    }
    .toggle-nav .site-nav {
        text-align: right;
    }
    .toggle-nav .site-nav .menu-button {
        display: block;
        display: inline-block;
        cursor: pointer;
        padding: .3em .8em;
        margin: .8em 0;
        border: 1px solid black;
    }
    .toggle-nav .site-nav .menu-button::selection {
        background-color: rgba(255 255 255/0);
    }
    .toggle-nav .site-nav ul {
        display: block;
        text-align: right;
    }
    .toggle-nav .site-nav a {
        text-decoration: none;
        position: relative;
    }
    .toggle-nav .site-nav a::after {
        transition: .6s;
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #dbb818;
        left: 0%;
        bottom: 20%;
        transform: scaleX(0);
    }
    .toggle-nav .site-nav a:hover::after {
        transform: scaleX(100%);
    }
    .toggle-nav .site-nav a:hover {
        color: #dbb818;
    }
    .toggle-nav[data-navstate="closed"] ul {
        height: 0;
        overflow: hidden;
    }
    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
    }

    /* NAVICON */
    .toggle-nav .site-nav .menu-button.navicon {
        border: none;
        color: rgba(255 255 255/0);
        /* padding: 0; */
    }
    .toggle-nav .site-nav .menu-button.navicon::after {
        box-sizing: border-box;
        content: "\2630";
        display: inline-block;
        padding: 0 0 0 .5em;
        margin: 0;
        color: rgba(255 255 255 / 1);
        font-size: 1.5em;
    }

    .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
        content: "\2715";
    }
}

/* ANIMATED TOGGLE NAV MENU */
@media (max-width: 767px) {
    .toggle-nav.animated ul {
      display: block;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      padding: 0;
      border-width: 0;
      transition: all 0.3s ease;
    }
  
    .toggle-nav.animated[data-navstate=open] ul {
      max-height: 138em;
      opacity: 1;
      padding: 0.5em 0;
      border-width: 0px;
      transition: all 0.6s ease;
    }
  
    .toggle-nav.animated li {
      padding: 0;
      opacity: 0;
      transition: all 0.3s ease;
    }
  
    .toggle-nav.animated[data-navstate=open] li {
      padding: 0.25em;
      opacity: 1;
      transition: all 0.6s ease 0.2s;
    }
  
    .toggle-nav.animated li a {
      padding: 0;
      transition: all 0.3s ease;
    }
  
    .toggle-nav.animated[data-navstate=open] li a {
      padding: 0.75em;
    }
  }


/* FORMS */

#contact {
    padding: 0;
}

form {
    max-width: 600px;
    margin: 2em auto;
}

/* form label, */
form input,
form textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1em;
    font-family: helvetica, arial, sans-serif;
    margin-top: 1em;
    margin-bottom: .25em;
}

/* form label {
    margin-top: 1em;
    margin-bottom: .25em;
} */

form input[type="text"],
form textarea {
    border: 1px solid #ccc;
    padding: .5em;
    color: #223228;
}

form textarea {
    min-height: 7em;
    line-height: 1.5;
}

form input[type="submit"] {
    margin-top: 1.5em;
    width: auto;
    
}

/* CUSTOM SITE CSS */

.section-title {
    text-align: left;
    margin-bottom: 1em;
}

@media (max-width: 767px) {
.site-footer .section-title {
    text-align: center;
    }
}

@media (min-width: 768px) {
.site-footer h3 {
    margin-top: 0;    
    }
}

/*FOR WEB DEV TESTING ONLY */
/* body * {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
} */

