/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

/* TYPOGRAPHY - BASE BODY*/
body {
    font-size: 87.5%; /* 14px */
    line-height: 1.7;
    color: #ededed;
    font-family: franklin-gothic-atf, sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* HEADINGS */
/* 
    Based on a Traditional Typographic Scale 
    48, 36, 24, 21, 18, 16
*/

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0; /*Using ems gives margins relative to the font size*/
}

h1 {
    font-size: 3em; /* 48px */
    line-height: 1;
}

h2 {
    font-size: 2.25em; /* 36px */
    line-height: 1.1;
    font-family: "utopia-std", serif;
    font-weight: 600;
    font-style: normal;
}
h3 {
    font-size: 1.5em; /* 24px */
    line-height: 1.2;
}
h4 {
    font-size: 1.3125em; /* 21px */
    line-height: 1.3;
}
h5 {
    font-size: 1.125em; /* 18px */
    line-height: 1.4;
}
h6 {
    font-size: 1em; /* 16px */
    line-height: 1.5;
}

/* PARAGRAPHS */
p {
    margin: .5em 0;
    max-width: 38em;
}

/* LINKS */
a {
    color: rgba(0 0 153 0.8);
    text-decoration: none;
}

a:hover {
    color: rgba(0 0 153 / 1);
    text-decoration: underline;
}

/* HELPER CLASSES */
.text-centered {
    text-align: center;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

@media (min-width: 768px) {
    .hidden-desktop {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}

@media (max-width: 767px) {
    .hidden-mobile {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}

.full-width {
    max-width: none;
    width: 100%
}

.horiz-center {
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    font-family: "marydale", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */
.button,
button, 
form input[type="submit"] {
    font-size: inherit;
    line-height: 1;
    background-color: rgba(0 0 255 / 1);
    border: 1px solid rgba(0 0 255 / 1);
    color: rgba(255 255 255 / 1);
    padding: 1em;
    display: inline-block;
    margin: .5em .5em .5em 0;
    text-align: center;
    border-radius: .5em;
}

.button:hover,
button:hover,
form input[type="submit"]:hover {
    background-color: rgba(0 0 153 / 1);
    border-color: rgba (0 0 153 / 1);
    color: rgba(255 255 255 / 1);
    text-decoration: none;
}

.button.alt {
    background-color: transparent;
    color: rgba(0 0 153 / 1);
}

.button.alt:hover {
    background-color: rgba(0 0 153 / 1);
    color: rgba(255 255 255 / 1);
}

/* ADDING A LINE OF CODE HERE SO THE SUBMIT BUTTON HAS A POINTER WHEN HOVERING */
form input[type="submit"]:hover {
    cursor: pointer;
}


/* SIMPLE RESET */
* { 
    box-sizing: border-box; 
}

body { 
    margin: 0; 
    /* background: red; */
    /* box-shadow: inset 0 0 0 5px red; */
}

/* CONTAINER */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    /* TABLET SIZED STYLING GOES HERE */
}

@media (min-width: 1050px) {
    /* SMALL LAPTOP SIZED STYLING GOES HERE */
    body {
        font-size: 87.5%; /* 14px */
    }
}

@media (min-width: 1250px) {
    /* MEDIUM SIZED STYLING GOES HERE */
    body {
        font-size: 100% /* 16px */
    }
    .container {
        max-width: 1400px;
    }
}



/* SEMANTIC GRID SYSTEM */

.row > .column {
    margin-bottom: 4%; 
    
    /*further down I need to add code to override this just for the purpose section, in order to reduce the bottom margin and pull the map up */
}

@media (min-width: 768px) {

    .row {
        --gridgap: 4%;
        display: flex;
        margin-left: -2%;
        margin-right: -2%;
    }

    .row > .column {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }

    .row > .column.one-twelfth {
        max-width: 4.3333%;
    }

    .row > .column.two-twelfths {
        max-width: 12.6667%;
    }

    .row > .column.three-twelfths {
        max-width: 21%;
    }

    .row > .column.four-twelfths {
        max-width: 29.3333%;
    }

    .row > .column.five-twelfths {
        max-width: 37.6667%;
    }

    .row > .column.six-twelfths {
        max-width: 46%;
    }

    .row > .column.seven-twelfths {
        max-width: 54.3333%;
    }

    .row > .column.eight-twelfths {
        max-width: 62.6666%;
    }

    .row > .column.nine-twelfths {
        max-width: 71%;
    }

    .row > .column.ten-twelfths {
        max-width: 79.3333%;
    }

    .row > .column.eleven-twelfths {
        max-width: 87.6667%;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }

    .row > .push-one-twelfth {
        margin-left: calc(8.3333% - (var(--gridgap) / 2) + var(--gridgap));
      }

    .row > .push-two-twelfths {
        margin-left: calc(16.6667% - (var(--gridgap) / 2) + var(--gridgap));
    }
}

/* FOR DEMO PURPOSES ONLY */
.demo .column{
    background: purple;
    padding: .5em;
    text-align: center;
}

/* SITE STRUCTURE */

/* SITE HEADER */

.site-header {
    padding: .5em 1.5em .5em 2.5em; /* this is my header padding */
    position: absolute;
    color: white;
    width: 100%;
    align-items: baseline;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* SITE FOOTER */
.site-footer {
    background: #dbb818;
}

footer .site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}


/* ON LARGER SCREENS PLACE LOGO LEFT AND NAV RIGHT */
@media (min-width: 768px) {
    .site-header .container {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }
}

/* STYLING FOR BOTH HEADER AND FOOTER */
.site-header a {
    color: rgba(255 255 255/1);
}

.site-footer a {
    color: rgba(0 0 0/.8);
}

.site-header a:hover {
    color: rgba(255 255 255/1);
    text-decoration: none;
}
 
.site-footer a:hover {
    color: rgba(0 0 0/1);
    text-decoration: none;
}

/* LOG0 AREA */
.site-id h1 {
    font-size: 1.5em;
    margin: 0;
    padding-top: .5em;
    text-align: left;
}

/* SITE NAV */

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.site-nav a {
    display: block; /* CHANGING TO BLOCK CHANGES THE A TAG FROM INLINE TO BLOCK, WHICH ENABLES PADDING TOP AND BOTTOM */
    padding: 1em;
}

.site-nav .menu-button {
    display: none;
    border: none; /*mark*/
    background-color: transparent; /*mark*/
}

/* SECTIONS */
section {
    padding: 3em 0;
}

/* HERO */
.hero {
    padding: 6em 4%;
    background-image: linear-gradient(
        10deg,
        rgba(0, 0, 0, 0.8),
        rgb(0, 0, 0, 0.1)), 
        url('../img/waterbuffalo.jpg');
    background-size: cover;
    background-position: 0% 80%;
    /* background-color: rgba(0 0 0 /.1); */
    text-align: left;
    min-height: 100svh;
}

.hero h1 {
    color: #dbb818;
    font-family: "utopia-std", serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    font-size: clamp(4em, 8vw, 5em);
}

.hero h1 span {
    color: #dbb818;
    font-family: "utopia-std", serif;
    font-weight: 600;
    font-style: italic;
    display: block;
    font-size: .6em;
}

.hero h2 {
    padding-top: .5em;
    font-family: "marydale", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(2em, 4vw, 3em);
}


.hero > .container {
    padding-top: 10em;
    padding-left: 8%
}


/* TOGGLE NAV */
@media (max-width: 767px) {
    .toggle-nav .site-id {
        position: absolute;
        padding: .3em 0 0 0;
    }
    .toggle-nav .site-nav {
        text-align: right;
    }
    .toggle-nav .site-nav .menu-button {
        display: block;
        display: inline-block;
        cursor: pointer;
        padding: .3em .8em;
        margin: .8em 0;
        border: 1px solid black;
    }
    .toggle-nav .site-nav .menu-button::selection {
        background-color: rgba(255 255 255/0);
    }
    .toggle-nav .site-nav ul {
        display: block;
        text-align: left;
    }
    .toggle-nav .site-nav a:hover {
        background-color: rgba(0 0 153/1);
        color: white;
    }
    .toggle-nav[data-navstate="closed"] ul {
        height: 0;
        overflow: hidden;
    }
    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
    }

    /* NAVICON */
    .toggle-nav .site-nav .menu-button.navicon {
        border: none;
        color: rgba(255 255 255/0);
        padding: 0;
    }
    .toggle-nav .site-nav .menu-button.navicon::after {
        box-sizing: border-box;
        content: "\2630";
        display: inline-block;
        padding: 0 0 0 .5em;
        margin: 0;
        color: rgba(0 0 0/.8);
        font-size: 1.5em;
    }

    .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
        content: "\2715";
    }
}

/* ANIMATED TOGGLE NAV MENU */
@media (max-width: 767px) {
    .toggle-nav.animated ul {
      display: block;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      padding: 0;
      border-width: 0;
      transition: all 0.3s ease;
    }
  
    .toggle-nav.animated[data-navstate=open] ul {
      max-height: 138em;
      opacity: 1;
      padding: 0.5em 0;
      border-width: 0px;
      transition: all 0.6s ease;
    }
  
    .toggle-nav.animated li {
      padding: 0;
      opacity: 0;
      transition: all 0.3s ease;
    }
  
    .toggle-nav.animated[data-navstate=open] li {
      padding: 0.25em;
      opacity: 1;
      transition: all 0.6s ease 0.2s;
    }
  
    .toggle-nav.animated li a {
      padding: 0;
      transition: all 0.3s ease;
    }
  
    .toggle-nav.animated[data-navstate=open] li a {
      padding: 0.75em;
    }
  }


/* FORMS */

form {
    max-width: 600px;
    margin: 2em auto;
}

form label,
form input,
form textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1em;
    font-family: helvetica, arial, sans-serif;
}

form label {
    margin-top: 1em;
    margin-bottom: .25em;
}

form input[type="text"],
form textarea {
    border: 1px solid #ccc;
    padding: .5em;
    color: #480897;
}

form textarea {
    min-height: 10em;
    line-height: 1.5;
}

form input[type="submit"] {
    margin-top: 1.5em;
    width: auto;
    
}

/* CUSTOM SITE CSS */

.section-title {
    text-align: left;
    margin-bottom: 1em;
}

.section-title::after {
    content: "";
    display: block;
    width: 100px;
    margin: 0.5em auto;
}


/* OFFSET MAIN by adding padding above main so that the header doesn't cover it up*/
.site-header.fixed + main { 
    padding-top: 4.5em;
}

/* OFFSET SECTIONS about and contact WHEN HEADER IS FIXED */
.fixed + .site-main .section-title {
    margin-top: 2em;
}

/* SECTION FORMATTING */
#purpose, #roots, #ngai {
    background-color: #223228;
}


/* VERTICAL MEDIA QUERY add height/padding to bottom of contact section only for large screens. Now when we click contact, we're directed to the top of the contact section even on large screens, rather than showing contact as halfway down the screen - credit to Romina */

@media (min-height: 630px) {
    #contact {
        padding-bottom: 20em;
    }
}

    

/* PURPOSE SECTION STYLING */
#purpose p {
    max-width: 20em;
}

#purpose img {
    transform: rotate(-15deg);
    transform-origin: 50% 60% 0;
    padding-top: 3em;
}

@media (max-width: 768px) {
    #purpose p {
        max-width: 100%;
    }
}



/* ROOTS SECTION STYLING */
@media (min-width: 1050px) {
    #roots .map {
        margin-top: -200px;
        scale: 1.05;
        transform-origin: left center;
    }
}

@media (min-width: 1400px) {
    #roots .map {
        scale: 1.2;
    }
}

/* BORDER STYLING */
#ngai {
    position: relative;
    z-index: 2;
}



/*FOR WEB DEV TESTING ONLY */
/* body * {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
} */